/* main { */
  /* debug */
  /* background-color: cyan; */
/* } */

/* index2.html -> h1 TypeWriter  */
#ityped {
  margin: 0 auto;
  text-align: center;
  font-size: 1.5rem;
  color: #999;
  border: 1px solid #eee;
  background-color: #fcfcfc;
  border-radius: 10px;;
  padding: 0.5rem;
  font-family: 'Orbitron', sans-serif;
}

/* index2.html -> h1 TypeWriter  */

/* .container */
.container {
  /* debug */
  /* background-color: olive; */
  margin-top: 1rem;
  height: auto;
}
/* .container */

/* .boxes */
.box {
  /* debug */
  /* background-color: darkgreen; */
  margin-bottom: 1rem;
}

/* .box1:hover { */
  /* debug */
  /* background-color: brown; */
/* } */

/* .box2 { */
  /* background-color:burlywood */
/* } */

/* .box3 { */
  /* background-color:cornflowerblue; */
/* } */

/* .box4 { */
  /* background-color:darkseagreen; */
/* } */

.txt_deco {
  font-family: 'Orbitron', sans-serif;
  color: #999;
  font-size:small;
}

.txt_left {
  text-align: left;
}
/* .boxes */

.others_h2 {
  font-family: 'Orbitron', sans-serif;
  font-size: large;
  color: #999;
  background-color: #eee;
  padding: 0.5rem;
  padding-left: 1rem;
  border-radius: 10px;
}

.others_h3 {
  font-family: 'Orbitron', sans-serif;
  font-size: small;
  color: #999;
  background-color: #eee;
  padding: 0.5rem;
  border-radius: 10px;
  width: 80%;
}

.others_p {
  font-size: small;
  color: #999;
  padding-left: 1rem;
}

/**
 * Simple fade transition,
 */
 .mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}

/**
 * Simple fade transition End
 */

/* footer */
.row > footer {
  /* debug */
  /* background-color: blueviolet; */
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  color: #999;
  font-family: 'Orbitron', sans-serif;
}
/* footer */

/* トップに戻るボタン */
.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;

  display: none;
  width: 40px;
  height: 40px;

  background-color: #f0f0f0;
  color: #333;
  opacity: 0.6;

  /* 透明度をふわっと変える演出 */
  transition: opacity 2.5s;

  font-size: 1.6rem;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
}

/* マウスを乗せた時に透明度を変える */
.back-to-top:hover {
  opacity: 1;
}